name: agua_project
description: "A new Flutter project."
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ^3.9.2
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  shared_preferences: ^2.5.3
  flutter_iconpicker: ^4.0.3
  font_awesome_flutter: ^10.12.0
  rxdart: ^0.28.0
  fl_chart: ^1.1.1
  url_launcher: ^6.3.2
  floating_action_bubble: ^1.1.4

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
